@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}

body{
    background: rgb(245, 245, 245);
}
#header{
    padding-top:24px ;
    width: 1280px;
    height: 52px;
    margin: 0 auto;
    margin-bottom: 20px;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-heading{
    color: rgb(14, 14, 14);
    transition: 0.3s;
    cursor: pointer;
}
.nav-heading:hover{
    color:green;
}

.nav-btn{
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 15px 30px;
    border: 1px solid rgb(0, 106, 80);
    transition-duration: 0.3s;
    cursor: pointer;
    border-radius: 8px;
}
.nav-btn:hover{
    background: rgb(0, 106, 80);
    color: white;
}
#hero{
    padding:80px 0;
    width: 1280px;
    height: 400px;
    margin: 0 auto;
    margin-bottom: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 24px;
    background: rgb(198, 228, 214);
}

.hero-elements{
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor:pointer;
}
.hero-elements:hover{
    transform: scale(1.1);
}
.hero-text{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    margin: 8px 0;
    color: rgba(14, 14, 14, 0.5);
    transition: 0.3s;
    cursor:pointer;
}

.hero-text:hover{
    color: red;
}
.hero-heading{
    font-size: 54px;
    font-weight: 700;
    line-height: 67px;
    margin: 24px 0;
    color: rgb(14, 14, 14);
    transition: 0.3s;
    cursor:pointer;
}

.hero-heading:hover{
    color: green;
}

.btn {
    border:1px solid rgb(0, 106, 80);
    width: 270px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background: rgb(0, 106, 80);
    padding: 17px 34px;
    transition-duration: 0.3s;
    cursor: pointer;
}
.btn:hover {
    background: white;
    color: rgb(0, 106, 80);
}
.monument{
    transition: 0.3s;
    cursor:pointer;
}
.monument:hover {
    transform:scale(1.2)
}
#pillars{
    width: 1280px;
    height: 324px;
    margin: 0 auto;   
}

#pillars .heading{
    font-size: 40px;
    font-weight: 700;
    transition: 0.3s;
    cursor:pointer;
    transition: 0.3s;
    cursor:pointer;
}

#pillars .heading:hover{
    color: green;
}

.cards-container{
    margin-top: 32px;
    display: flex;
    gap: 24px;
}
.card{
    width: 302px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    display: flex;
    flex-direction: column;
    transition: 0.3s;
    cursor:pointer;
}

.icon-1:hover{
    background-color:orange;
    border: 2px dashed orangered;
}
.icon-2:hover{
    background-color:lightgreen;
    border: 2px dashed green;
}
.icon-3:hover{
    background-color: lightskyblue;
    border: 2px dashed rgb(7, 133, 174);
}
.icon-4:hover{
    background-color: pink;
    border: 2px dashed palevioletred;
}
.card:hover{
    transform: scale(1.1);
}
.card h1{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}

.card p{
   color: rgba(14, 14, 14, 0.7);
}
.card img{
    width: 62px;
}

#vision{
    width:1280px ;
    height: 765px;
    margin:0 auto;
    margin-top: 80px;
}
.vision-heading{
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    transition: 0.3s;
    cursor:pointer;
}
.vision-heading:hover{
    color:maroon;
}

.vision-description{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    font-weight: 500;
    margin-bottom: 32px;
}

.vision-cards-container{
    height: 325px;
    display: flex;
    gap: 16px;
    margin-bottom: 32px;
}
.vision-cards-container img{
    width: 62px;
}
.vision-cards-container h1{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
}
.vision-cards-container p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.vision-cards-container button{
    width: 122px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    padding: 11px 20px;
    font-weight: 600;
    transition-duration: 0.3s;
    cursor: pointer;
}
.learn-1{
    border: 1px solid rgb(84, 144, 245);
}
.learn-1:hover{
    background: white;
    color: rgb(84, 144, 245);
}
.learn-2{
    border: 1px solid rgb(9, 161, 92);
}
.learn-2:hover{
    background: white;
    color: rgb(9, 161, 92);
}
.learn-3{
    border: 1px solid rgb(255, 194, 57);
}
.learn-3:hover{
    background: white;
    color: rgb(255, 194, 57);
}

.vision-cards-1{
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    display: flex;
    padding: 32px;
    flex-direction: column;
    transition: 0.3s;
    cursor:pointer;  
}
.vision-cards-1:hover{
    border: 2px dashed rgba(7, 80, 206, 0.2);
    transform: scale(1.08);
}
.vision-cards-1 button {
    background: rgb(84, 144, 245);
    margin-top: 38px;
}
.vision-cards-2{
    border-radius: 16px;
    background: rgb(198, 228, 214);
    display: flex;
    padding: 32px;
    flex-direction: column;
    transition: 0.3s;
    cursor:pointer;
}
 .vision-cards-2:hover{
    border: 2px dashed rgb(7, 216, 119);
    transform: scale(1.08);
}
.vision-cards-2 button{
    background: rgb(9, 161, 92);
    margin-top: 60px;  
}
.vision-cards-3{
    border-radius: 16px;
    background: rgb(247, 235, 207);
    display: flex;
    padding: 32px;
    flex-direction: column;
    transition: 0.3s;
    cursor:pointer;
}
 .vision-cards-3:hover{
    border: 2px dashed rgb(218, 158, 7);
    transform: scale(1.08);
}
.vision-cards-3 button{
    background: rgb(255, 194, 57);
    margin-top: 60px;
}

.quote{
    height: 256px;
    padding: 48px 24px;
    background:rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.quote:hover{
    transform: scale(1.1);
}
.quote .background{
    padding-top: 20px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    /* background-position-y: -10px; */
    color: rgba(14, 14, 14, 0.8);
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 12px;
}
.quote h3{
    font-size: 20px;
    font-weight: 600;
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 6px;
}
.quote .entitle{
    color:rgba(14, 14, 14, 0.6);
    font-weight: 500;
}

#news{
    width: 1280px;
    height: 1406px;
    margin: 0 auto;
    margin-top: 80px;
}

.news-heading{ 
    font-size: 40px;
    margin-bottom: 24px;
    font-weight: 700;
    transition: 0.3s;
    cursor: pointer;
}
.news-heading:hover{
    position: relative;
    transform: rotate(1deg);
    color:red;
}
.news-description{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    margin-bottom: 32px;
    font-weight: 500;
}

.news-cards-1{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-bottom: 24px;
    transition: 0.3s;
    cursor: pointer;
}
.news-cards-1:hover{
    transform: scale(1.1);
}
.news-cards-1 img{
    border-radius: 24px;
}
.news-card-sidebar{
    display: flex;
    flex-direction: column;
    gap: 12px;
    transition: 0.3s;
    cursor:pointer;
}
.news-card-sidebar:hover{
    transform:scale(1.05);
}
.satelite{
    transition: 0.3s;
    cursor: pointer;
}
.satelite:hover{
    transform:scale(1.15);
}
.launch{
    color: rgba(14, 14, 14, 0.8);
    font-size: 32px;
    font-weight: 700;
}
.news-card-sidebar p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
}
.news-card-sidebar-button{
    margin-top: 32px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-weight: 600;
    padding: 13px 26px;
    width: 138px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    transition-duration: 0.3s;
    cursor: pointer;
    border: 1px solid rgb(0, 106, 80);
}
.news-card-sidebar-button:hover{
    background: white;
    color: rgb(0, 106, 80);
}
.date-time{
    display: flex;
    gap: 12px;
}
.news-cards-2{
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    margin-bottom: 24px;
    transition: 0.3s;
    cursor:pointer;
}
.news-cards-2 img{
    border-radius: 24px;
}
.news-cards-2:hover{
    transform: scale(1.05);
}
.news-cards-3{
    display: flex;
    gap: 32px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
    padding: 48px;
    transition: 0.3s;
    cursor:pointer;
}
.news-cards-3 img{
    border-radius: 24px;
}
.news-cards-3:hover{
    transform: scale(1.05);
}
#donate{
    width: 1280px;
    height: 464px;
    margin: 0 auto;
    margin-top: 80px;   
}

.donate-text{
    text-align: center;
}
.donate-text h1{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;  
}

.donate-text p{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
    font-weight: 500;
}
.donate-heading{
    margin-bottom: 24px;
}
.donate-heading h1{
    transition: 0.3s;
    cursor: pointer;
}
.donate-heading h1:hover{
    transform: scale(1.5);
    color: darkgray;
}
.donate-cards{
    display: flex;
    height:128px;
    gap: 24px;
    margin: 0 80px;
    margin-top: 32px;
    
}
.donate-cards div{
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(245, 245, 245);
    padding: 40px;
    width: 252px;
}

#five-hundred{
   background: rgb(198, 228, 214);
   width: 264px;
   text-align: center;
   color: rgba(14, 14, 14, 0.8);
   font-size: 38px;
   font-weight: 700;
   transition-duration: 0.3s;
   cursor: pointer;  
}

#five-hundred:hover{
    background: rgb(0, 106, 80);
    color: white;
    border: 1px solid rgb(0, 106, 80);
    transform: scale(1.1);
}

.money{
    text-align: center;
    color: rgba(14, 14, 14, 0.8);
    font-size: 38px;
    font-weight: 700;
    transition: 0.3s;
    cursor:pointer;
}
.money:hover{
    background-color: brown;
    color: white;
}
.input-taka{
    margin-top: 32px;
}
.input-taka > input{
    width: 1032px;
    padding:20px 40px;
    border: none;
    border-bottom: 1px solid rgba(14, 14, 14, 0.15);
    background: rgb(255, 255, 255);
    margin-left: 80px;
}
.other-amount::placeholder{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.3);
}
.done{
    text-align: center;
}
.done-btn{
    margin-top: 32px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 13px 26px;
    width: 139px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    transition-duration: 0.3s;
    cursor: pointer;
    border: 1px solid rgb(0, 106, 80);
}
.done-btn:hover{
    background: white;
    color: rgb(0, 106, 80);
}

#subscribe{
    width: 1080px;
    height: 235px;
    margin: 0 auto;
    margin-top: 80px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 100px;
}

.subscribe-text{
    text-align: center;
    margin-top:20px;
}
.subscribe-heading{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
    transition: 0.3s;
    cursor: pointer;
}
.subscribe-h:hover{
    color:red;
    text-shadow:6px 6px 6px  white;
}
.subscribe-para{
    text-align: center;
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing:0.5px;
}

.input-subscribe{
    margin-top: 24px;
    display: flex;
    justify-content: center;
}

.input-subscribe >input{
    width: 600px;
    padding:18px 40px;
    border: none;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
}
.email::placeholder{
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: rgba(14, 14, 14, 0.3);
}

.subscribe-btn{
    border: 1px solid rgba(14, 14, 14, 0.1);
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 17px 34px;
    width: 150px;
    border-radius:0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    transition-duration: 0.3s;
    cursor: pointer;
}
.subscribe-btn:hover{
    background: red;
    color: white;
}
.spam{
    margin-top: 24px;
    text-align: center;
    line-height: 19px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.7);
}

#footer{
    padding: 50px 160px;
    width: auto;
    height: 116px;
    margin:0 auto;
    margin-top: 80px;
    text-align: center;
    background: rgba(255, 255, 255);
}
.footer-heading{
    color: rgb(14, 14, 14);
    transition: 0.3s;
    cursor: pointer;
}
.footer-heading:hover{
    transform: scale(1.2);
    color:green;
}
.line{
    margin-top: 31.5px;
    margin-bottom: 32.5px;
    border: 1px solid rgba(14, 14, 14, 0.1);
}
.social{
    display: flex;
    justify-content: center;
    gap:24px;
}

.media{
    transition: 0.3s;
    cursor: pointer;
}

.media:hover{
    transform: scale(1.8);
}
.social img{
    width: 25px;
}